body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1;
    margin: 0;
}


$link-color: #0ed7b2;
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 20%);

//link styling
a{
    color: $link-color;
    text-decoration: none;
    background: transparent;
    transition: background 1s ease, padding 1s ease;

    &:hover{
        //color: $hover-color;
        color: white;
        background: #0ed7b2;
    }

    &:visited{
        color: $visited-color;
    }

}

div.border{
    border: 1px solid #ffffff;
    border-radius: 20px;

}

